<div style="width: 50%; padding: 4rem">
  <div class="card">
    <header class="card__header">
      <a class="card__image-link" href="#"
        ><img class="card__image" src="assets/images/photo.jpg"
      /></a>
    </header>
    <div class="card__body">
      <a class="card__title-link" href="#">
        <p class="card__title">گردو و فندق و شکلات و همه جیز های خوراکی</p>
      </a>
      <div class="card__inventory">
        <i class="card__inventory-icon" data-feather="package"></i>
        <p class="card__inventory-text">۱۲۳ تن</p>
      </div>
    </div>
  </div>
</div>
