<div class="carousel">
  <div class="slick-arrow slick-prev">
    <i data-feather="chevron-right"></i>
  </div>
  <div class="carousel__cards">
    <!-- 1 -->
    <div class="card">
      <header class="card__header">
        <a class="card__image-link" href="#"
          ><img class="card__image" src="assets/images/photo.jpg"
        /></a>
      </header>
      <div class="card__body">
        <a class="card__title-link" href="#">
          <p class="card__title">گردو و فندق و شکلات و همه جیز های خوراکی</p>
        </a>
        <div class="card__inventory">
          <i class="card__inventory-icon" data-feather="package"></i>
          <p class="card__inventory-text">۱۲۳ تن</p>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="card">
      <header class="card__header">
        <a class="card__image-link" href="#"
          ><img class="card__image" src="assets/images/photo.jpg"
        /></a>
      </header>
      <div class="card__body">
        <a class="card__title-link" href="#">
          <p class="card__title">گردو و فندق و شکلات و همه جیز های خوراکی</p>
        </a>
        <div class="card__inventory">
          <i class="card__inventory-icon" data-feather="package"></i>
          <p class="card__inventory-text">۱۲۳ تن</p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="card">
      <header class="card__header">
        <a class="card__image-link" href="#"
          ><img class="card__image" src="assets/images/photo.jpg"
        /></a>
      </header>
      <div class="card__body">
        <a class="card__title-link" href="#">
          <p class="card__title">گردو و فندق و شکلات و همه جیز های خوراکی</p>
        </a>
        <div class="card__inventory">
          <i class="card__inventory-icon" data-feather="package"></i>
          <p class="card__inventory-text">۱۲۳ تن</p>
        </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="card">
      <header class="card__header">
        <a class="card__image-link" href="#"
          ><img class="card__image" src="assets/images/photo.jpg"
        /></a>
      </header>
      <div class="card__body">
        <a class="card__title-link" href="#">
          <p class="card__title">گردو و فندق و شکلات و همه جیز های خوراکی</p>
        </a>
        <div class="card__inventory">
          <i class="card__inventory-icon" data-feather="package"></i>
          <p class="card__inventory-text">۱۲۳ تن</p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="card">
      <header class="card__header">
        <a class="card__image-link" href="#"
          ><img class="card__image" src="assets/images/photo.jpg"
        /></a>
      </header>
      <div class="card__body">
        <a class="card__title-link" href="#">
          <p class="card__title">گردو و فندق و شکلات و همه جیز های خوراکی</p>
        </a>
        <div class="card__inventory">
          <i class="card__inventory-icon" data-feather="package"></i>
          <p class="card__inventory-text">۱۲۳ تن</p>
        </div>
      </div>
    </div>
  </div>
  <div class="slick-arrow slick-next">
    <i data-feather="chevron-left"></i>
  </div>
</div>
